<div class="container-fluid text-center">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4">
                <a href="#">
                    <img src="images/logo.jpg" class="img-responsive"/>
                </a>
            </div>
            <div class="col-md-8">
                <h1>SE3314B Computer Networks Application</h1>
                <p class="lead">
                    Stock Market Application
                </p>
            </div>
        </div>
    </div>
</div>
{{outlet}}
