<div class="col-md-6">
    <h3>Market By Price</h3>
    <table class="table table-bordered byPrice">
        <thead>
        <tr>
            <th colspan="3">Buy</th>
            <th colspan="3">Sell</th>
        </tr>
        <tr>
            <th>#</th>
            <th>Volume</th>
            <th>Price</th>
            <th>Price</th>
            <th>Volume</th>
            <th>#</th>
        </tr>
        </thead>
    </table>
</div>
{{partial "symbol"}}