<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 market-title-bar">
            <h1 id="market-title">{{model.companyName}}</h1>
        </div>
        <div class="col-md-4">
            <h3>Market By Order</h3>
            <div class="row market-order-row">
                <div class="col-md-4">
                    {{marketByOrderView model.buyOrders model.sellOrders}}
                </div>
            </div>
        </div>
        {{partial "marketByPrice"}}
    </div>
</div>