<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h2>Market By Order</h2>
                <table class="table table-bordered byOrder">
                    <thead>
                        <tr>
                            <th colspan="2">Buy</th>
                            <th colspan="2">Sell</th>
                        </tr>
                        <tr>
                            <th>Volume</th>
                            <th>Price</th>
                            <th>Price</th>
                            <th>Volume</th>
                        </tr>
                    </thead>
                </table>
        </div>
        {{outlet}}
    </div>
</div>