<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-2" id="bid-order-form">
            <form class="form-horizontal">
                <fieldset>

                    <!-- Form Name -->
                    <legend>Place Bid Order For {{model.companyName}}</legend>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="bidPrice">Purchase Price</label>
                        <div class="col-md-6">
                            <input id="bidPrice" name="bidPrice" type="text" placeholder="How much?" class="form-control input-md" required="">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="bidVolume">Number of Shares</label>
                        <div class="col-md-6">
                            <input id="bidVolume" name="bidVolume" type="text" placeholder="How many?" class="form-control input-md" required="">

                        </div>
                    </div>

                    <!-- Button (Double) -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="submitBtn"></label>
                        <div class="col-md-8">
                            <button id="submitBtn" name="submitBtn" class="btn btn-success">Sumbit</button>
                            <button id="CancelBtn" name="CancelBtn" class="btn btn-danger">Cancel</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

        <aside class="sidebar col-md-2 col-md-offset-1">
            <h2>Symbol</h2>
            {{outlet}}
        </aside>
    </div>

</div>