<h2>SE3314b: Computer Networks Applications</h2>
<p>This course is designed to help students understand the concepts of computer networks in general
    and the Internet and networks applications in particular. Although the main goal of the course is
    to teach the concepts of Internet and network applications.</p>